.header {
    background: #272D35;
    width: 207px;
    height: 603px;
    margin-top: 60px;
    margin-left: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 16px; 
}

.ul-list {
    list-style: none;
    color: white;
}
.firstLiIcon {
    margin-top: 40px;
}

.liAndIcon {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
    margin-bottom: 32px;
    
}
.liAndIcon img {
    cursor: pointer;
}

.ul-list li {
    cursor: pointer;

}

.hrLine {
    margin-bottom: 69px;
}

.dashBoardOptions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    color: white;
    position: relative;
}
.transfer-option {
    display: flex;
    border: 2px solid white;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    cursor: pointer;
    
}

.transfer-option:hover {
    background-color: white;
    color: black;
    transition: background-color 0.9s ease, color 0.3s ease;
}
