.backgroundDisplay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 242, 250, 0.4); 
}

.insideModal {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    background-color: #272D35;
    position: relative;
    
}
.fa-xmark {
    color: white;
    position: absolute;
    cursor: pointer;
    left: 565px;
    top: 20px;
    font-size: 20px;

}